<%= form_for @standup do |f| %>
  <label>
    Location
  </label>
  <%= f.text_field :location %>

  <label>
    Time
  </label>
  <%= f.date_field :time %>

  <ul>
    <%= f.fields_for :standup_attendees do |a| %>
      <li>
        <%= a.collection_select :employee_id, Employee.all, :id, :name, prompt: true %>
      </li>
    <% end %>
  </ul>

<% end %>
